extends layout
block content
	h3 Here is a list of workout
	each workout in workouts
		.workout
			a(href='#').workoutName=workout.workoutName 
			span='     By ' + workout.workoutCreator
			ul.exercisesList
				each exo in workout.exercises
					li=exo

	if user
		button.btn.btn-info#btn-workout Create New Workout
		form(action='/workouts_list' method='POST').form-horizontal#new-workout-form
			.form-group
				label(for='name').label-form Name
				input(type='text' name='name' id='name').form-control
			.form-group
				label.label-form Choose your exercises
				br
				each exercise in exercises
					label(for=exercise.exerciseName)=exercise.exerciseName
					input(type='checkbox' name='exerciseName' id=exercise.exerciseName value=exercise.exerciseName) 
			.form-group
				button.btn.btn-danger Submit New Workout
	if !user
		script(src='/javascripts/noUserWorkoutList.js')
	else 
		script(src='/javascripts/userWorkoutList.js')

